body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 135px; }

  
#root{
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  color: #000;
}



/*
This is the extracted copied part responsible for showing & hiding the submenu.
*/

.nav__submenu {
  display: none;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}

/*
Layout styles.

I like to work on stuff that's good looking so I remixed a cool simple menu by Mike Rojas (thanks!): https://codepen.io/mikerojas87/pen/rojKb 
*/

$color-blue: #00aeef;
$color-blue-dark: #0d2035;
$submenu-width: 180px;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* body > div > div*/
#menu-container {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  flex: 1;
  margin-bottom: 25px;
  position: center;
  
}

body .menu-container{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  flex: 1;
  margin-bottom: 15px;
  position: center;
}

.menu-container {
  text-align: center;
  margin: 0 auto;
  position: flex;
  width: 10px;
  flex: 1;
  margin-bottom: 25px;
  height:50%;
}

.menu-container > div {

  position: flex;
  width: 100px;
  flex: 1;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  display: inline-block;
  margin: 2rem auto 0;
  background: $color-blue-dark;
  color: #fff;
  text-align: left;
  
  a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
}
  
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
  
.nav__menu-item {
  display: inline-block;
  position: relative;

  &:hover {
    background-color: $color-blue;

    .nav__submenu {
      display: block;
    }
  }
}
    
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: $submenu-width;
  background-color: $color-blue;
}
    
.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}
